@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  #fff url(https://i.ibb.co/GH0KfcC/bg-tp-aeropuesto.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

}

.contenedor{
    width: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;   
    position: relative; 
    
}
.contenedor::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5cdcff;
    opacity: .2;
    border-radius: 5px;
    z-index: -1;
}

form{
    background-color:#fff;
    width: 80%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content:space-around;
    border-radius: 3px;
    margin: 20px auto;
    
}

form input, select{
    background-color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 3px;
    border: 1px solid #5cdcff;
    font-size: 1em;
    letter-spacing: 1px;
}
form input:focus{
    border-color: #5cdcff;
}
form button{
    background-color: #fff;
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    color: #5cdcff;
    border: 1px solid #5cdcff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .5s;
    font-size: 1em;
    margin-bottom: 10px;
}
form button:hover{
    background-color: #5cdcff;
    color: #fff;
}


table{
    background-color: white;
    width: 80%;
    border-radius: 5px;
    font-size: 1em;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    max-width: 100%;
    white-space: nowrap;
    border: 1px solid #f8f8f8;
    margin: 20px 0;
}


table td {
    border-right: 1px solid #f8f8f8;
    font-size: 1em;
}

table thead th {
    color: #ffffff;
    background: #5cdcff;
}

table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

table tr:nth-child(even) {
    background: #EBEBEB;
}